@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');


body {
  font-family: 'Josefin Sans';
  /*font-family: 'Oleo Script';*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Nav {
    overflow: hidden;
    background-color: #110B11;
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/v1526274959/Night_1.jpg");*/
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/v1526274959/Night_1.jpg");*/
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_390/v1526275708/Night_cropped.jpg");*/
    /*background-repeat: none;*/
    text-align: center;
    color: white;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
}

/*.Navimg {
    overflow: hidden;
    background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_390/v1526275708/Night_cropped.jpg");
    background-repeat: none;
    text-align: center;
    color: white;
    height: 390px;
    position: fixed;
    top: 100px;
    width: 100%;
    padding: 10px;
}*/



/* unvisited link */
.navlinks:link {
    display: inline;
    padding-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: bold;
    font-size: 20px;
}

/* visited link */
.navlinks:visited {
    color: #FFFFFF;
}


/* mouse over link */
.navlinks:hover {
    color: #F2F4CB;
    text-shadow: 2px 2px #B7990D;
    font-style: bold;
}

/* selected link */
/*.navlinks:active {
    color: black;
}*/



/* unvisited link */
a:link {
    display: inline;
    padding-right: 30px;
    color: #8CADA7;
    text-decoration: none;
    font-style: bold;
    font-size: 20px;
}

/* visited link */
a:visited {
    color: #8CADA7;
}

/* mouse over link */
a:hover {
    color: #A5D0A8;
    text-shadow: 2px 2px #F2F4CB;
    font-style: bold;
}

/* selected link */
a:active {
    color: black;
}

.searchResults {

  /*display: inline-block;*/
}

.searchRes {
  padding-left: 5px;
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  color: black;
}

.local {
  font-size: 15pt;
  color: green;
}

.button {
  background-color: #B7990D;
  color: white;
  height: 25px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
}

.Footer {
   position:fixed;
   left:0px;
   bottom:15px;
   height:30px;
   width:100%;
   text-align: center;
}

.museumSection {
  top: 120px;
  position: relative;
  text-align: center;
}


.searchContainer{
  margin-top: 15%;
  /*top: 120px;*/
  /*text-align: center;*/
  margin-left: 15px;
  position: relative;
}

.searchInput {
  width: 300px;
  height: 20px;
}

.logInContainer {
  /*text-align: center;*/
  margin-left: 40%;
  margin-top: 15%;
  /*top: 120px;*/
  position: relative;
}



.logInput {
  text-align: center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bered {
  color: red;
}

.begreen {
  color: lime;
}
