@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');


body {
  font-family: 'Josefin Sans';
  /*font-family: 'Oleo Script';*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header {
    overflow: hidden;
    background-color: #110B11;
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_100/v1526312411/Night_5.jpg");*/
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/v1526274959/Night_1.jpg");*/
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_390/v1526275708/Night_cropped.jpg");*/
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
}

.Navimg {
    overflow: hidden;
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_390/v1526275708/Night_cropped.jpg");*/
    background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_700/v1526314257/NightMuseum.jpg");
    background-repeat: none;
    /*text-align: center;*/
    color: color;
    height: 500px;
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 10px;
}

.NavimgReg {
    overflow: hidden;
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_390/v1526275708/Night_cropped.jpg");*/
    background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_700/v1526314257/NightMuseum.jpg");
    background-repeat: none;
    /*text-align: center;*/
    color: color;
    height: 100%;
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 10px;
}


.NavimgSrch {
    overflow: hidden;
    /*background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_390/v1526275708/Night_cropped.jpg");*/
    background-image: url("http://res.cloudinary.com/daracell/image/upload/c_scale,h_700/v1526314257/NightMuseum.jpg");
    background-repeat: repeat;
    /*text-align: center;*/
    color: color;
    height: 500px;
    position: fixed;
    top: 100px;
    width: 100%;
    padding: 10px;
}



/* unvisited link */
.navlinks:link {
    display: inline;
    padding-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: bold;
    font-size: 20px;
}

/* visited link */
.navlinks:visited {
    color: #FFFFFF;
}


/* mouse over link */
.navlinks:hover {
    color: #F2F4CB;
    text-shadow: 2px 2px #B7990D;
    font-style: bold;
}

/* selected link */
/*.navlinks:active {
    color: black;
}*/


/* unvisited link */
.smallLink:link {
    font-size: 15px;
    display: inline;
    padding-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: bold;
    /*font-size: 20px;*/
}

/* visited link */
.smallLink:visited {
    color: #FFFFFF;
}


/* mouse over link */
.smallLink:hover {
    color: #F2F4CB;
    text-shadow: 2px 2px #B7990D;
    font-style: bold;
}




/* unvisited link */
a:link {
    display: inline;
    padding-right: 30px;
    color: #8CADA7;
    text-decoration: none;
    font-style: bold;
    font-size: 20px;
}

/* visited link */
a:visited {
    color: #8CADA7;
}

/* mouse over link */
a:hover {
    color: #A5D0A8;
    text-shadow: 2px 2px #F2F4CB;
    font-style: bold;
}

/* selected link */
a:active {
    color: black;
}

.searchResults {
  padding-left: 5px;
  text-align: left;
  display: inline-block;
  margin-left: 16px;
  color: black;
  display: inline-block;
  margin-left: 16px;
  margin-top: 20px;
}


.table {
  padding-left: 5px;
  text-align: left;
  display: inline-block;
  margin-left: 16px;
  color: black;
  display: inline-block;
  margin-left: 16px;
  margin-top: 120px;
}


.searchRes {
  padding-left: 5px;
  text-align: left;
  display: inline-block;
  margin-left: 16px;
  color: black;
}

.searchResUP {
  padding-left: 5px;
  text-align: left;
  display: block;
  margin-left: 16px;
  color: black;
}

.local2 {
  font-size: 15pt;
  color: green;
  margin-left: 24px;
}

.local {
  font-size: 15pt;
  color: green;
}

.button {
  background-color: #B7990D;
  color: white;
  height: 25px;
  width: 130px;
  border-radius: 8px;
  cursor: pointer;
}

.buttonSrch {
  background-color: #B7990D;
  color: white;
  height: 25px;
  width: 130px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}

.Footer {
   position:fixed;
   left:0px;
   bottom:15px;
   /*top: 500px;*/
   height:30px;
   width:100%;
   text-align: center;
}

.museumSection {
  top: 120px;
  position: relative;
  text-align: center;
}

.museumcontainer {
  height: 90vh;
}

.usercomments {
  margin-top: 130px;
}

.thecomments > p {
  text-align: center;
}

.thecomments > h3 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.thebutton {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: orange;
}

.searchContainer{
  margin-top: 15%;
  /*top: 120px;*/
  /*text-align: center;*/
  margin-left: 18%;
  position: relative;
}

.searchInput {
  width: 300px;
  height: 20px;
}

.logInContainer {
  /*text-align: center;*/
  margin-left: 35%;
  margin-top: 10%;
  /*top: 120px;*/
  position: relative;
  width:25em;
  padding: 20px;
  /*opacity: 0.5;*/
}

.box {
  background-color: #D1D8C8;
  opacity: 0.5;
  position: absolute;
  margin-top: 10%;
  margin-left: 16%;
  height: 17em;
  width: 50em;
}

.boxReg {
  background-color: #D1D8C8;
  opacity: 0.5;
  position: absolute;
  margin-top: 10%;
  margin-left: 16%;
  height: 25em;
  width: 50em;
}

.boxSrch {
  background-color: #D1D8C8;
  opacity: 0.5;
  position: absolute;
  margin-top: 10%;
  margin-left: 16%;
  height: 25em;
  width: 50em;
}
.fortextbox {
  display: block;
  hight: 200px;
  width: 100px;
  margin-left: 45%;

}
.cmtbox {
/*  width: 150px;
  height: 25px;*/
  margin-top: 10px;
  /*padding-bottom: 20px;*/
}

.cmtbox1 {
/*  width: 150px;
  height: 25px;*/
  margin-bottom: 10px;
  /*margin-left: 5px;*/
  margin-top: 10px;

}


.logInput {
  text-align: center;
}

.logInButton {
  margin-left: 23%;
}

.regButton {
  margin-left: 25%;
  /*margin-top: 5%;*/
}

i.beyellow {
  background: yellow;
  border-radius: 50%;
  border: 5px solid yellow;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bered {
  color: red;
}

.begreen {
  color: lime;
}



